.c_popup-btn{
    position: relative;
}

.c_popup-btn-active:focus{
    outline: none;
}

.c_popup-btn::before{
    content: '';
    display: none;
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -11px;
    border: 10px solid transparent;
    border-bottom: 10px solid lightgray;
}

.c_popup-btn-active::before{
    display: block;
}

.c_popup-wrapper{
    position: relative;
    width: fit-content;
}

.c_popup-content{
    position: absolute;
    top: calc(100% + 10px);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    background: lightgray;
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 999999;
}

.c_popup-content-center{
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.c_popup-content-right{
    left: 0 !important;
}

.c_popup-content-left{
    right: 0 !important;
}

.c_popup-content-active{
    display: block;
}
